/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

body {
  background-image:url('background.png');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: 100%;
  color: white;
}

h1 {
  text-shadow: 2px 2px black;
  font-size: 50px;
  margin-bottom: 40px;
}

table {
  font-size: 26px;
}
tbody {
  font-weight: 300;
}

div.height-offset {
  height: 50px;
}

div.height-offset-3x {
  height: 200px;
}

div.nudge-left {
  margin-left: -20px;
}

div.nudge-left-2x {
  margin-left: -100px;
}

.orange {
  color: #f89829;
}